In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Data.csv')
dataset. head()

     Country   Age   Salary Purchased
0      India  34.0  92000.0       Yes
1  Sri lanka  22.0  25000.0       Yes
2      China  31.0  74000.0       Yes
3  Sri lanka  29.0      NaN        No
4      China  55.0  98000.0       Yes

In [3]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values
print ("Матрица признаков");print(X)
print ("Зависимая переменная"); print(y)

Матрица признаков
[['India' 34.0 92000.0]
 ['Sri lanka' 22.0 25000.0]
 ['China' 31.0 74000.0]
 ['Sri lanka' 29.0 nan]
 ['China' 55.0 98000.0]
 ['India' 24.0 30000.0]
 ['Sri lanka' 28.0 40000.0]
 ['India' nan 60000.0]
 ['China' 51.0 89000.0]
 ['India' 44.0 78000.0]
 ['Sri lanka' 21.0 20000.0]
 ['China' 25.0 30000.0]
 ['India' 33.0 45000.0]
 ['India' 42.0 65000.0]
 ['Sri lanka' 33.0 22000.0]]
Зависимая переменная
['Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'Yes'
 'Yes' 'No']

In [4]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan , strategy = 'mean')
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])
print(X)

[['India' 34.0 92000.0]
 ['Sri lanka' 22.0 25000.0]
 ['China' 31.0 74000.0]
 ['Sri lanka' 29.0 54857.142857142855]
 ['China' 55.0 98000.0]
 ['India' 24.0 30000.0]
 ['Sri lanka' 28.0 40000.0]
 ['India' 33.714285714285715 60000.0]
 ['China' 51.0 89000.0]
 ['India' 44.0 78000.0]
 ['Sri lanka' 21.0 20000.0]
 ['China' 25.0 30000.0]
 ['India' 33.0 45000.0]
 ['India' 42.0 65000.0]
 ['Sri lanka' 33.0 22000.0]]

In [5]:
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
print("Зависимая переменная до обработки")
print(y)
y = labelencoder_y.fit_transform(y)
print("Зависимая переменная после обработки")
print(y)

Зависимая переменная до обработки
['Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'Yes'
 'Yes' 'No']
Зависимая переменная после обработки
[1 1 1 0 1 0 0 0 1 1 0 1 1 1 0]

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np
label_encoder_X = LabelEncoder()
X[:, 0] = label_encoder_X.fit_transform(X[:, 0])
onehot_encoder = OneHotEncoder(categories = 'auto')
X = onehot_encoder.fit_transform(X)
print('Перекодировка категориального признака:')
print(X)

Перекодировка категориального признака:
  (0, 1)	1.0
  (0, 12)	1.0
  (0, 29)	1.0
  (1, 2)	1.0
  (1, 4)	1.0
  (1, 19)	1.0
  (2, 0)	1.0
  (2, 9)	1.0
  (2, 26)	1.0
  (3, 2)	1.0
  (3, 8)	1.0
  (3, 23)	1.0
  (4, 0)	1.0
  (4, 16)	1.0
  (4, 30)	1.0
  (5, 1)	1.0
  (5, 5)	1.0
  (5, 20)	1.0
  (6, 2)	1.0
  (6, 7)	1.0
  (6, 21)	1.0
  (7, 1)	1.0
  (7, 11)	1.0
  (7, 24)	1.0
  (8, 0)	1.0
  (8, 15)	1.0
  (8, 28)	1.0
  (9, 1)	1.0
  (9, 14)	1.0
  (9, 27)	1.0
  (10, 2)	1.0
  (10, 3)	1.0
  (10, 17)	1.0
  (11, 0)	1.0
  (11, 6)	1.0
  (11, 20)	1.0
  (12, 1)	1.0
  (12, 10)	1.0
  (12, 22)	1.0
  (13, 1)	1.0
  (13, 13)	1.0
  (13, 25)	1.0
  (14, 2)	1.0
  (14, 10)	1.0
  (14, 18)	1.0